@{
    Layout = "_Layout"; // Nechat jak je

    ViewBag.Title = "Excel - Funkce";
    ViewBag.Author = "Daniel Panáček";
    ViewBag.Editor = "Jakub Boháček";

}

<div class="display-1">
   Funkce
</div>
<div class="background-text">
    <a href="~/Projects/Pvy/Exercises/Excel_Funkce_A-Z.pdf"> PDF_Funkce_Excel </a>
</div>


