@{
    ViewData["Title"] = "Kontakt";
}
<h1 class="display-1">Kontakt</h1>

<div class="background-text fs-2">
    <i class="bi bi-envelope"></i> Email: <a href="mailto:admin@@jbohacek.cz">admin@@jbohacek.cz</a> <br/>
    <i class="bi bi-envelope-exclamation"></i> Email na chyby: <a href="mailto:chyby@@jbohacek.cz">chyby@@jbohacek.cz</a> <br />
    <i class="bi bi-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/jakub-boh%C3%A1%C4%8Dek-27a394256/">Jakub Boháček</a><br/>
    <br/><div class="fw-bold">Socialní sítě</div>
    <i class="bi bi-discord"></i> Discord: <a href="#">jbohacek</a> <br />
    <i class="bi bi-instagram"></i> Instagram: <a href="https://www.instagram.com/_jbohacek_/">_jbohacek_</a> <br/>
    <i class="bi bi-steam"></i> Steam <a href="https://steamcommunity.com/profiles/76561198059423386">Jbohacek</a>
</div>

<h1 class="display-3">Použité js a css knihovny</h1>

<div class="background-text fs-3">
    <ul>
        <li>
            <a href="https://getbootstrap.com/">Bootstrap</a>
        </li>
        <li>
            <a href="https://icons.getbootstrap.com/">Bootstrap icons</a>
        </li>
        <li>
            <a href="https://highlightjs.org/">highlight.js</a>
        </li>
        <li>
            <a href="https://videojs.com/">Video.js</a>
        </li>
    </ul>
</div>