@{
    ViewData["Title"] = "Domovská stránka";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/MainPage.css" asp-append-version="true" />

}

<div class="">
    <h1 class="display-1 text-center hidden">Vítej</h1>
    <h1 class="display-4 text-center hidden">Zde najdeš vše, co potřebuješ na maturitu!</h1>
    <h1 class="display-6 fs-4 background-text text-center">Pokud potřebuješ udělat <span>určité téma</span>, tak přispěj a vlož do popisku téma.<br/> Téma bude <span>přednostně udělané</span> !</h1>
    <div class="text-center d-flex flex-lg-row flex-column flex-wrap justify-content-center gap-3">
        <a asp-area="Programovani" asp-controller="Home" class="box hidden"><i class="bi bi-code-slash"></i><br />Programování</a>
        <a asp-area="Database" asp-controller="Home" asp-action="Index" class="box hidden"><i class="bi bi-database"></i><br />Databáze</a>
        <a asp-area="ProgramoveVybaveni" asp-controller="Home" class="box hidden"><i class="bi bi-pc-display"></i><br />Programové vybavení</a>
    </div>
    <div class="text-danger text-center opacity-75 d-flex gap-2 justify-content-center hidden my-2">
        <i class="bi bi-exclamation-triangle d-md-inline d-none"></i>
        <div>Učím se a snažím se o co nejmenší počet chyb, ale nejsem bezchybný.<br/> Informace ověřujte z uvedených zdrojů.</div>
        <i class="bi bi-exclamation-triangle d-md-inline d-none"></i>
    </div>
    <div class="background-text mt-4">
        
        <br/>
        Tento web slouží jako zápisky a přípava na maturitu z programování na <a href="https://www.sssvt.cz/">soukromé střední škole výpočetní techniky</a> a jsou zde zapsané okruhy na ústní maturitní zkoušku a jejich vysvětlení.<br/>
        Web byl vytvořený, protože jsem si chtěl všechny informace zapsat a mít je na jednom místě, kde se k nim mohu kdykoliv vrátit. Tím pádem jsem se rozhodl, že je zveřejním, protože by se mohli hodit i někomu jinému. <br/> <br/>
        Web vytvořil <b>Jakub Boháček</b> třída 4.A. ročník 23/24.
    </div>
    <div class="display-4">
        Jak mohu pomoct?
    </div>
    <div class="background-text">
        Pokud najdeš chybu neváhej a napiš na email <a href="mailto:chyby@jbohacek.cz">chyby@jbohacek.cz</a><br/><br/>
        Pokud se chceš <span>podílet na vývoji webu</span>, tak neváhejte a přidejte více informací přes <a href="https://github.com/Jbohacek/MaturitaHelpWeb">Github</a>! <br/><br/>
        Pokud netušíš jak github funguje a chceš pomoct, napiš na email <a href="mailto:admin@jbohacek.cz">admin@jbohacek.cz</a> a my ti rádi pomůžeme.<br/> <span class="sha">Fakt to není težké, je to jen HTML :)</span>
    </div>
    <div class="display-4">
        Poslední změny
    </div>


    <div style="overflow: auto; height: 800px;">
        
        <div class="background-text">
            <span>24.4</span> <br/>
            - Přidán celý skoro celý mssql :)
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>23.4</span> <br/>
            - Přidáno <a asp-area="ProgramoveVybaveni" asp-controller="Access" asp-action="TabulkyARelace">Tabulky a relace</a>
            <div class="text-end sha">Jakub Šimůnek</div>
        </div>

        <div class="background-text">
            <span>21.4</span> <br/>
            - Přidáno <a asp-area="ProgramoveVybaveni" asp-controller="MicrosoftApps" asp-action="Word">MS word</a>
            <div class="text-end sha">Jakub Šimůnek</div>
        </div>

        <div class="background-text">
            <span>18.4</span> <br/>
            - Přidána roudeMapa
            - Přidáno <a asp-area="Cestina" asp-controller="Home" asp-action="PsaniMekkeNeboTvrde">Psaní i/y</a>
            <div class="text-end sha">Jakub Boháček & Anička Knápková</div>
        </div>

        <div class="background-text">
            <span>12.4</span> <br/>
            - Přidán <a asp-area="Programovani" asp-controller="QuestionSeriesThird" asp-action="RestApi">Rest Api</a><br />
            - Opravené chybky <br />
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>11.4</span> <br/>
            - Přidána kategorie <a asp-area="Cestina" asp-controller="Home" asp-action="Index">Čeština</a> <br/>
            - Opravený obrázky a přidan projekt "Kontigenční Tabulky" na Pvy <br />
            - Přidán <a asp-area="Programovani" asp-controller="QuestionSeriesThird" asp-action="MVCForms">Asp forms</a> <br/>
            - Opravený chybky v <a asp-area="Programovani" asp-controller="QuestionSeriesThird" asp-action="MVCViews">Asp views</a> <br/>
            - Přidaný unikátní vlny na každou stránku <br/>
            <div class="text-end sha">Jakub Boháček & Daniel Panáček</div>
        </div>

        <div class="background-text">
            <span>10.4</span> <br/>
            - Přidán mini header na každé téma <br/>
            - Přidán <a asp-area="Programovani" asp-controller="QuestionSeriesThird" asp-action="MVCViews">Asp views</a> <br />
            - Přidán varování text<br/>
            - Upraveny header a font <span>(diky NAX)</span><br/>
            - Opravena gramatika <span>(díky Vanish)</span><br/>
            <div class="text-end sha">Jakub Boháček </div>
        </div>

        <div class="background-text">
            <span>9.4</span> <br/>
            - Finální úprava grafiky webu (doufám) <br/>
            - Opraveno mobilní zobrazení na:  Okruhy > zadani <span>ze</span> zadani > okruhy (lépe se čte a naviguje) <br/>
            - Přidaná karta <a asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a><br />
            - Přidaná animace na scroll, snad libí.
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>8.4</span> <br/>
            - Opravené balíčky = předelaný na client-side (jedná se čistě o github), je lehčí stahnout projekt a <span>pomoct mi!</span> <br />
            - Přidán <a asp-area="ProgramoveVybaveni" asp-controller="Excel" asp-action="Obecne">excel obecné</a> a nějaký projekty na zkoušku<br/>
            - Přidán <a asp-area="Programovani" asp-controller="QuestionSeriesThird" asp-action="MVCZaklady">MVC základy</a> <br/>
            - Opravené youtube videa (zase), pokud stále blbnou ctrl + F5<br/>
            - Přidáno otravné buy me a coffe, <span>za podporu budu velmi rád</span> 👍❤️
            <div class="text-end sha">Jakub Boháček & Daniel Panáček</div>
        </div>

        <div class="background-text">
            <span>7.4</span> - Teorie testování, Integrační testy, mirroring, replication a přidané témata na mssql
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>4.4</span> - Ikona
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>3.4</span> - Lepší web a rozdělení do více sekcí
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>25.3</span> - Database
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>16.3</span> - Všechny otázky z 2 baličku
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>7.3</span> - Gui
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>6.3</span> - Validation
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>5.3</span> - Forms advance
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>29.2</span> - Regex
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>27.2</span> - Pokročilé prvky OOP<br />a rozpracovany forms základy a datagrid
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>23.2</span> - UML<br />
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>22.2</span> - Dědičnost OOP<br />
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>21.2</span> - Základy OOP<br />
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>19.2</span> - Opravena šiřka youtube videií na mobilní zobrazení<br /> <span class="sha">PS: už mě s tím neštvi :)</span><br />
            <div class="text-end sha">NAX</div>
        </div>


        <div class="background-text">
            <span>18.2</span> - Opravena gramtika "ř" a "zjistit"<br />
            <div class="text-end sha">Mace</div>
        </div>

        <div class="background-text">
            <span>15.2</span> - Řetěžce, Souborový system, Datove struktury<br />
            <div class="text-end sha">Jakub Boháček</div>
        </div>

        <div class="background-text">
            <span>13.2</span> - Rekurze, Pole a kolekce<br />
            <div class="text-end sha">Jakub Boháček</div>
        </div>
        <div class="background-text">
            <span>9.2</span> - Garbage collector, Řídící struktury, přepsané modifikátory přístupu a změna Home page<br />
            <div class="text-end sha">Jakub Boháček</div>
        </div>
    </div>
</div>
