
<header>
    <nav class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm box-shadow">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav text-white w-100">
                    <a class="nav-link text-white fw-bold fs-3 nav-my-logo" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Pictures/Logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                        Maturita Help
                    </a>
                    
                    <div class="d-md-flex d-block ms-md-auto me-md-auto justify-content-around ">
                        <a class="nav-link nav-my-item" asp-area="Programovani" asp-controller="Home" asp-action="Index"><i class="bi bi-code-slash"></i> Programování</a>
                        <a class="nav-link nav-my-item" asp-area="Database" asp-controller="Home" asp-action="Index"><i class="bi bi-database"></i> Databáze</a>
                        <a class="nav-link nav-my-item" asp-area="ProgramoveVybaveni" asp-controller="Home" asp-action="Index"><i class="bi bi-pc-display"></i> Programové vybavení</a>
                        <a class="nav-link nav-my-item" asp-area="Cestina" asp-controller="Home" asp-action="Index"><i class="bi bi-book"></i> Čeština</a>

                    </div>

                </ul>
                <ul class="navbar-nav text-center" style="width: 150px">
                    <a  class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact"><i class="bi bi-box-arrow-up-left"></i> Kontakt</a>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>

@if (!string.IsNullOrEmpty(ViewBag.Waves))
{
    @Html.Raw($"<div class=\"spacer {ViewBag.Waves}-spacer hidden-spacer\"></div>")
}
else
{
    <div class="spacer main-spacer hidden-spacer"></div>
}




@*                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sort Methody
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="Programovani" asp-controller="Sort" asp-action="Index">Vysvětlení</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-area="Programovani" asp-controller="Algorithms" asp-action="BubbleSort">Bubble Sort</a></li>
                            <li><a class="dropdown-item" asp-area="Programovani" asp-controller="Algorithms" asp-action="SelectionSort">SelectionSort</a></li>
                            <li><a class="dropdown-item" asp-area="Programovani" asp-controller="Algorithms" asp-action="InsertionSort">InsertionSort</a></li>
                            <li><a class="dropdown-item" asp-area="Programovani" asp-controller="Algorithms" asp-action="QuickSort">QuickSort</a></li>
                            <li><a class="dropdown-item" asp-area="Programovani" asp-controller="Algorithms" asp-action="MergeSort">MergeSort</a></li>
                            <li><a class="dropdown-item" asp-area="Programovani" asp-controller="Algorithms" asp-action="HeapSort">HeapSort</a></li>
                        </ul>
                    </li> *@