@model SourcesModel

<div class="background-text p-3 fs-5 mt-5">
    Zdroje:
    <ul>
        @foreach (string link in Model.GetLinks())
        {
            @if (!link.Contains("https"))
            {
                <li style="word-break: break-all; list-style-type: none">
                    <br />@link
                </li>
            }
            else
            {
                <li style="word-break: break-all">
                    <a href="@link">@link</a>
                </li>
            }

            
        }
    </ul>
</div>