@model VideoModel

<video id="my-video"
       class="video-js vjs-fluid"
       controls
       preload="auto"
       data-setup="{}">
    <source src="~/Videos/@Model.Path" type="video/mp4" />
    <source src="MY_VIDEO.webm" type="video/webm" />
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>
<div class="d-flex justify-content-end">
    <div>Zdroj: <a href="@Model.Link">Video Link</a></div>
</div>