
<div class="text-center"><a asp-controller="Algorithms" asp-action="Index">Vysvětlení</a></div>

<div class="d-none d-md-flex justify-content-around mx-5">
    <a asp-area="Programovani" asp-controller="Algorithms" asp-action="BubbleSort">Bubble Sort</a> 
    /
    <a asp-area="Programovani" asp-controller="Algorithms" asp-action="SelectionSort">Selection Sort</a>
    /
    <a asp-area="Programovani" asp-controller="Algorithms" asp-action="InsertionSort">Insertion Sort</a>
    /
    <a asp-area="Programovani" asp-controller="Algorithms" asp-action="QuickSort">Quick Sort</a>
    /
    <a asp-area="Programovani" asp-controller="Algorithms" asp-action="MergeSort">Merge Sort</a>
    /
    <a asp-area="Programovani" asp-controller="Algorithms" asp-action="HeapSort">Heap Sort</a>
</div>

<div class="d-md-none d-block justify-content-around mx-1">
    <a class="mx-1" asp-area="Programovani" asp-controller="Algorithms" asp-action="BubbleSort">Bubble </a>
    /
    <a class="mx-1" asp-area="Programovani" asp-controller="Algorithms" asp-action="SelectionSort">Selection </a>
    /
    <a class="mx-1" asp-area="Programovani" asp-controller="Algorithms" asp-action="InsertionSort">Insertion </a>
    <br/>
    <a class="mx-1" asp-area="Programovani" asp-controller="Algorithms" asp-action="QuickSort">Quick </a>
    /
    <a class="mx-1" asp-area="Programovani" asp-controller="Algorithms" asp-action="MergeSort">Merge </a>
    /
    <a class="mx-1" asp-area="Programovani" asp-controller="Algorithms" asp-action="HeapSort">Heap </a>
</div>