@{
    Layout = "_Layout"; // Nechat jak je

    ViewBag.Title = "UML";
    ViewBag.Author = "Jakub Boháček";

}

<div class="display-1">
    UML
</div>
<div class="background-text">
    <ul>
        <li><a href="#">základní diagramy</a></li>
        <li><a href="#">Class diagram a symboly</a></li>
        <li><a href="#">UseCase diagram</a></li>
        <li><a href="#">State diagram</a></li>
        <li><a href="#">Sequence diagram</a></li>
    </ul>
</div>

<div class="background-text">
    Unified Modeling Language (UML) je obecný modelovací jazyk. Hlavním cílem UML je definovat standardní způsob vizualizace způsobu,
    jak byl systém navržen. UML není programovací jazyk, je to 
    spíše vizuální jazyk. UML diagramy používáme k zobrazení chování a struktury systému
    
    <br><br>
    UML pomáhá softwarovým inženýrům, obchodníkům a systémovým architektům s modelováním, designem a analýzou.
    Object Management Group (OMG) přijala Unified Modelling Language jako standard v roce 1997.
    Mezinárodní organizace pro normalizaci (ISO) publikovala UML jako schválený standard v roce 2005
    
    <br><br>
    
    UML diagramy poskytují vizuální způsob reprezentace architektury systému, designu a chování. 
    V agilním vývoji, kde je komunikace klíčová, mohou sloužit UML diagramy jako efektivní komunikační nástroje mezi členy týmu, 
    zainteresovanými stranami a dokonce i netechnickými publiky.
    
    <br><br>
    
    UML je spojeno s objektově orientovaným designem a analýzou. 
    UML využívá prvky a vytváří mezi nimi asociace k vytvoření diagramů. 
    Diagramy v UML lze hrubě klasifikovat jako
    
    <div class="display-5 my-3">Strukturální UML</div>
    
    <span>Diagram tříd</span>: Nejčastěji používaný UML diagram je diagram tříd. 
    Je to stavební blok všech objektově orientovaných softwarových systémů. 
    Diagramy tříd používáme k zobrazení statické struktury systému pomocí tříd systému, 
    jejich metod a atributů.
    <br/>
    <span>Kompozitní strukturální diagram</span>: Kompozitní strukturální diagramy používáme k reprezentaci vnitřní struktury třídy a jejích interakčních bodů s ostatními částmi systému.
    
    <div class="display-5 my-3">Behaviorální UML diagramy</div>
    UML diagramy poskytují jasný a stručný způsob komunikace mezi týmy, což šetří čas, když týmy mohou vizualizovat procesy, interakce uživatelů a statickou strukturu systému.
</div>

<div class="display-3">
    Diagram tříd (Class Diagram)
</div>
<div class="background-text">
    je jedním z typů UML diagramů, který se používá k vizuálnímu zobrazení struktury a vztahů tříd v systému. Třídy jsou znázorněny jako boxy, které obsahují tři části: název třídy, atributy a metody.

    <br/><br/>
    Diagramy tříd zobrazují vztahy mezi třídami, jako jsou asociace, agregace, kompozice, dědičnost a závislosti. To pomáhá zainteresovaným stranám, včetně vývojářů, návrhářů a obchodních analytiků, pochopit, jak jsou různé komponenty systému propojeny.
    <br/><br>
    Diagramy tříd jsou užitečné v mnoha fázích návrhu systému. Poskytují jasný a stručný způsob komunikace mezi týmy, což šetří čas, když týmy mohou vizualizovat procesy, interakce uživatelů a statickou strukturu systému
    
    <img class="img-fluid w-75 d-block my-4 mx-auto rounded-2" src="~/Pictures/OOP/UMLClass.png"/>
    
    <img class="img-fluid w-75 d-block my-4 mx-auto rounded-2" src="~/Pictures/OOP/uml-classdiagram.png"/>
    
    <img class="img-fluid w-75 d-block my-4 mx-auto rounded-2" src="~/Pictures/OOP/uml-classdiagram2.png"/>

    <div class="sha text-center">Více informací: <a href="https://www.visual-paradigm.com/guide/uml-unified-modeling-language/uml-class-diagram-tutorial/">visual-paradigm.com</a></div>
    
    
    

</div>

<div class="sha text-center">Více informací: <a href="https://www.itnetwork.cz/navrh/uml/uml-use-case-diagram">visual-paradigm.com</a></div>

