@{
    Layout = "_Layout"; // Nechat jak je

    ViewBag.Title = "Návrhové vzory";
    ViewBag.Author = "Jakub Boháček";
}

<div class="display-1">
    Návrhové vzory
</div>

<div class="background-text">
    <ul>
        <li><a asp-action="Factory">Factory</a></li>
        <li><a asp-action="Singleton">Singleton</a></li>
        <li><a asp-action="Command">Command</a></li>
        <li><a asp-action="Observer">Observer</a></li>
        <li><a asp-action="Iterator">Iterator</a></li>
        <li><a asp-action="State">State</a></li>
        <li><a asp-action="Decorator">Decorator</a></li>
        <li><a asp-action="Memento">Memento</a></li>
        <li><a asp-action="Adapter">Adapter</a></li>
    </ul>
</div>