@{
    Layout = "_Layout"; // Nechat jak je

    ViewBag.Title = "Import export SSIS";
    ViewBag.Author = "Jakub Boháček";

    //Ani jedna z nich není nutná, nějaký stánky nemají Editora, tak to prostě nenapiště:

}


@* Nadpisy *@
<div class="display-1">
    Import export SSIS
</div>
<article>
    @await Html.PartialAsync("_YoutubeVideoPlayer", "https://www.youtube.com/embed/0ikNnenDyNw?si=79GPliL89lgPWKez")

</article>