@{
    Layout = "_Layout"; // Nechat jak je

    ViewBag.Title = "Dočasné tabulky";
    ViewBag.Author = "";
    ViewBag.Editor = "[Editor]"; // Pokud není, tak vymazat

    ViewBag.GenerateContent = true;
}
<div class="display-1">
    @ViewBag.Title <br/>
    <span class="sha">Temporary tables</span>
</div>