@{
    Layout = "_Layout"; // Nechat jak je

    ViewBag.Title = "Základní modifikace dat";
    ViewBag.Author = "";
    ViewBag.Editor = "[Editor]"; // Pokud není, tak vymazat

    ViewBag.GenerateContent = true;
}
<div class="display-1">
    @ViewBag.Title
</div>