@{
    Layout = "_Layout"; // Nechat jak je

    ViewBag.Title = "Instalace Nestjs";
    ViewBag.Author = "Jakub Boháček";

}

@* Nadpisy *@
<div class="display-1">
    Instalace NestJS
</div>

<div class="background-text">
    Nest Js beží na Node.js, takže je potřeba nainstalovat Node.js kliknutím <a href="https://nodejs.org/en">zde</a> <br/>
    je potřeba mít naintalovaný <a href="https://www.typescriptlang.org/">typescript</a><br />

    Pokud nevíte, zda ho máte naintalovaný, tak příkaz do konzole (mac to má jinak)
    <pre>
    <code class="language-csharp">
node
    
// Nebo

npm

// Na ověření typescriptu

tsc

// instalace přes npm: npm install -g typescript ts-node
    </code>
</pre>
    
    

</div>