@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Maturita.Web.Managers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model dynamic

@{
    ViewBag.Title = "Programové vybavení";
    Layout = "_Layout";
}

<h2 class="display-1 mb-4"><i class="bi bi-pc-display"></i> Programové vybavení</h2>
<div class="row gap-5">
    <div class="col-md-6 h-100">
        <div class="background-text">
            Zde najdeš všechny okruhy z čeho je maturitní zkoušení a praxe.
        </div>
        <div class="display-4">
            Jak si mohu procvičit?
        </div>
        <div class="background-text">
            Nemám nic, pokud možno zaslat na <a href="mailto:admin@jbohacek.cz">admin@jbohacek.cz</a>
        </div>
        
        @await Component.InvokeAsync("ExercisesComponent", new { type = ProjectManager.ProjectType.Pvy })
        
    </div>
    <div class="background-text col-md h-100">
        <div class="display-4 mb-3">Okruhy</div>
        <div class="ms-3">
            <div style="font-weight: 300; font-size: 26px">Weby</div>
            <ul >
                <li><a>Url adresa a soubor HTML</a></li>
                <li><a>Css vybíraní - selection</a></li>
                <li><a>Css a html</a></li>
                <li><a>Css display</a></li>
                <li><a>Javascript</a></li>
                <li><a>Javascript DOM objects</a></li>
                <li><a>Javascript DOM events</a></li>
                <li><a>Javascript Formuláře</a></li>
                <li><a asp-area="ProgramoveVybaveni" asp-controller="Nest" asp-action="Instalace">Instalace Nest.js</a></li>
                <li><a>Nest - Get a Post</a></li>
                <li><a>Nest - Session</a></li>
                <li><a>Nest - Database</a></li>
                <li><a>Typescript</a></li>
            </ul>
            <div style="font-weight: 300; font-size: 26px">Microsoft apps</div>
            <ul >
                <li><a>MS word</a></li>
                <li>Excel<br/>
                    <ul>
                        <li><a asp-controller="Excel" asp-action="Obecne">Obecně</a></li>
                        <li><a>Kontigenční tabulky</a></li>
                        <li><a>Funkce</a></li>
                    </ul>
                </li>
                <li>Access<br/>
                    <ul>
                        <li><a>Obecně</a></li>
                        <li><a>Dotazy</a></li>
                        <li><a>Sestavy</a></li>
                        <li><a>Formuláře</a></li>
                        <li><a>Import/Export dat</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
        
    </div>

</div>