
@{
    ViewBag.Title = "Čeština";
    Layout = "_Layout";
    ViewBag.Category = "";
}

<h2 class="display-1 mb-4"><i class="bi bi-book"></i> Čeština</h2>
<div class="d-flex gap-5 flex-md-row flex-column-reverse">
    <div class="h-100 w-100">
        <div class="display-4 hidden">
            Termíny didaktického testu <br/> @(DateTime.Now.Year)/@(DateTime.Now.Year + 1)
        </div>
        <div class="background-text">
            <span>3.5 2024 v 8:00 ve třídě</span> Jarní termín 2024
        </div>

    </div>
    <div class="background-text h-100 w-100">
        <div class="display-4 mb-3">Vše o češtině</div>
        <div class="ms-3">

            <div style="font-weight: 300; font-size: 26px">Didaktický test</div>
            <ul>
                <li><a asp-area="Cestina" asp-controller="Home" asp-action="PsaniMekkeNeboTvrde">Psaní i/y</a></li>
                <li><a>Slovní druhy</a></li>
                <li><a>Čárky ve větě</a></li>
            </ul>
            
            <div style="font-weight: 300; font-size: 26px">Ústní zkouška</div>
            <ul>
                <li><a>Osnova zkoušky</a></li>
                <li><a>Čtenářské deníky</a></li>
                <li><a>Čárky ve větě</a></li>
                <li><a>Funkční styly</a></li>
                <li><a>Slohové postupy</a></li>
            </ul>
            
            <div style="font-weight: 300; font-size: 26px">Sloh</div>
            <ul>
                <li><a>Slohové útvary</a></li>
                <li><a>Příklady</a></li>
            </ul>
        </div>
        
    </div>

</div>