@{
    Layout = "_Layout";


    ViewBag.Title = "Psaní i/y";
    ViewBag.Author = "Anička Knápková";
    ViewBag.GenerateContent = false;
    
}

<div class="display-1">
    @ViewBag.Title
</div>


<div class="display-5">H,ch,k,r, ž, š, č,ř,c,j</div>
<article>
    - Tvrdé souhlásky jsou <span>H,CH,K,R,D,T,N</span><br>
    - Měkké souhlásky jsou <span>C,J, Ž, Š, Č, Ř,Ď,Ť,Ň</span><br><br>
    - Po tvrdých souhláskách H,CH,K,R píšeme v ČESKÝCH slovech vždy tvrdé <span>y</span><br><br>
    - Po měkkých souhláskách C,J, Ž, Š, Č, Ř píšeme v ČESKÝCH slovech vždy měkké <span>i</span><br><br>
    - V souhláskách D,T,N volíme písmeno podle výslovnosti <br><br>
    <strong>- Pozor na přejatá slova, tato pravidla u nich nemusí platit</strong>
</article>

<div class="display-5">Dy,ty,ny,di,ti,ni</div>
<article>
    - Po souhláskách D,T,N volíme písmeno I/Y podle výslovnosti:<br><br>
    - Dívka vs. Dým<br>
    - Tisk vs. Týden<br>
    - Rybník vs. Noviny<br><br>
    <strong>- Pozor na přejatá slova, tato pravidla u nich nemusí platit</strong>
</article>

<div class="display-5">Přejatá slova</div>
<article>
    - H: historie, hitparáda<br>
    - CH: orchidej, architekt<br>
    - K: kino, kiwi<br>
    - R: triko, princezna, turistika, experiment, mandarinka, Kristus, Británie, Marie<br><br>
    V následujících případech vyslovujeme tvrdě, ale píšeme měkké I:<br><br>
    - D: medicína, dinosaurus, tradice, diktát<br>
    - T: lokomotiva<br><br>
    Psaní tvrdého Y po měkkých souhláskách nastává v přejatých slov po písmenu C:<br><br>
    - Cylindr<br>
    - Cyklista<br>
    - Encyklopedie<br><br>
    <strong>Zajímavost k tomuto tématu!!</strong><br>
    - Pozor také na stejně znějící slova s různým významem: tip (odhad, rada, doporučení) vs. typ (druh, model)
</article>

<div class="display-5">Vyjmenovaná slova</div>
<article>
<ul>
<li>
    <strong>B</strong>
    <ul>
        <li>Být</li>
        <ul>
            <li>Bychom, abys, kdybychom, zbytek, nabýt, dobýt, blahobyt</li>
        </ul>
        <ul>
                    <ul>
                        <li>Nabýt x nabít</li>
                    </ul>
        </ul>

        <ul>
            <ul>
                <ul>
                            <li>Stát se majitelem, držitelem, nositelem něčeho nebo zvětšit svůj objem</li>
                </ul>
            </ul>
        </ul>
                <ul>
                    <ul>
                        <ul>
                            <li>Dát výprask, napěchovat, naplnit nábojem, vsunout, dodat elektrický náboj, natlouci</li>
                        </ul>
                    </ul>
                </ul>
        
        <ul><ul>
                        <li>Dobýt x dobít</li>
        </ul></ul>
                <ul>
                    <ul>
                        <ul>
        <li>Zmocnit se bojem (dobýt město), velkým úsilím dosáhnout (dobýt svobody), vynutit (dobýt z někoho přiznání)</li>
        <li>Přestat bít (srdce dobilo), ubít (dobít zvíře), doplnit elektrickým nábojem (dobít akumulátor)</li>
                </ul>
                                        </ul>
                                    </ul>
        <li>Bydlit</li>
        <ul>
                    <li>Obydlí, bydlo</li>
        </ul>
        <li>Obyvatel</li>
        <li>Byt</li>
        <li>Příbytek</li>
        <li>Nábytek</li>
        <li>Dobytek</li>
        <li>Obyčej</li>
       <ul>
                    <li>Obyčejně, neobyčejný</li>
       </ul>
        <li>Bystrý</li>
        <ul>
                    <li>Bystřina, bystrost, Bystřice, Bystrouška, Bystrozraký</li>
        </ul>
        
        <li>Bylina</li>
        <ul>
                    <li>Býlí, bylinkářka, býložravec, černobýl</li>
        </ul>
        
        <li>Kobyla</li>
        <ul>
                    <li>Kobylka, Kobylisy</li>
        </ul>
        
        <li>Býk</li>
        <ul>
                    <li>Býčí, Býkov</li>
        </ul>

        <li>Babyka</li>
    </ul>
            <p><strong>Výjimky a záludnosti:</strong></p>
    <ul>
                <li><p>Některé zeměpisné názvy</p></li>
        <ul>
                    <li>Přibyslav, Bydžov, Zbyněk, Zbyšek</li>
        </ul>
                <li><p>Slova cizího původu</p></li>
        <ul>
                    <li>Bysta, labyrint, byrokracie, Libye, Babylon</li>
        </ul>
                <p>
                    <strong>Chytáky:</strong>
                </p>
        <li>ve vlaku bylo nabito (bylo tam plno)</li>
        <li>starobylý a ledabylý (odvozeno od být), ale způsobilý (odvozeno od způsob)</li>
    </ul>
</li>
<li>
    <strong>L</strong>
    <ul>
        <li>Slyšet</li>
        <ul>
                    <li>Poslyš, nedoslýchavý</li>
        </ul>
        
        <li>Mlýn</li>
        <ul>
                    <li>Mlynář, mlýnice</li>
        </ul>
        
        <li>Blýskat se</li>
        <ul>
                    <li>Blýskavý, blyštět se</li>
        </ul>
        
        <li>Polykat</li>
        <ul>
                    <li>Zalykat se, polykač</li>
        </ul>
        
        <li>Plynout</li>
        <ul>
                    <li>Plynulý, oplývat, plyn, plynovod</li>
        </ul>
        
        <li>Plýtvat</li>
        <li>Vzlykat</li>
        <ul>
                    <li>Vzlykot, vzlykání</li>
        </ul>
        
        <li>Lysý</li>
        <ul>
                    <li>Lysina, lyska, lysohlávka, Lysice, Lysá, Lysůvky</li>
        </ul>
       
        <li>Lýko</li>
        <ul>
                    <li>Lýkožrout, lýkový</li>
        </ul>
        
        <li>Lýtko</li>
        <li>Lyže</li>
        <ul>
                    <li>Lyžař, lyžování, lyžáky</li>
        </ul>
        
        <li>Pelyněk</li>
        <li>Plyš</li>
        <ul>
                    <li>Plyšový, plyšák</li>
        </ul>
        
    </ul>
            <p><strong>Výjimky a záludnosti:</strong></p>
    <ul>
        <li>Některých slovech cizího původu (např. lyceum, lyrický, olympijský, Hollywood)</li>
        <li>Slovech s předponou poly- (např. polystyren, polyteismus)</li>
        <li>Ve slovech obsahujících – lýza (např. elektrolýza, analýza, paralýza)</li>
    </ul>
</li>
<li>
    <strong>M</strong>
    <ul>
        <li>My</li>
        <li>Mýt</li>
        <ul>
                    <li>Umyvadlo, mýdlo, myčka</li>
        </ul>
        
        <li>Myslit</li>
        <ul>
                    <li>Myšlenka, smysl, pomyšlení</li>
        </ul>
        
        <li>Mýlit se</li>
        <ul>
                    <li>Mýlka, omyl, pomýlit se, neomylný</li>
        </ul>
        
        <li>Hmyz</li>
        <ul>
                    <li>Hmyzožravec</li>
        </ul>
        
        <li>Myš</li>
        <li>Hlemýžď</li>
        <li>Mýtit</li>
        <ul>
                    <li>Mýtina</li>
        </ul>
        
        <li>Zamykat</li>
        <ul>
                    <li>Odemykat, výmyk</li>
        </ul>
        
        <li>Smýkat</li>
        <ul>
                    <li>Smyk, průsmyk, přesmyčka</li>
        </ul>
        
        <li>Dmýchat</li>
        <li>Chmýří</li>
        <li>Nachomýtnout se</li>
        <li>Mýto</li>
        <li>Mykat</li>
    </ul>
    <br>
    <p>Dále píšeme Y v některých slovech cizího původu, například sumýš (mořský živočich), mykologie (věda o houbách), mys (skalnatý ostroh), mystický (záhadný), mýtus.</p>
    <p>Pozor na stejně znějící slova s různým významem:</p>
    <ul>
        <li>my (1. osoba čísla množného) - mi (3. pád zájmena já)</li>
        <li>mýt (umývat) - mít (vlastnit něco)</li>
        <li>mýval (zvíře) - míval (tvar slovesa mít)</li>
        <li>vymýtit (vykácet) - vymítit (odstranit zlo, ďábla)</li>
    </ul>
</li>
<li>
    <strong>P</strong>
    <ul>
        <li>Pýcha</li>
        <ul>
                    <li>Pyšný, přepych, pýchavka</li>
        </ul>
      
        <li>Pytel</li>
        <ul>
                    <li>Pytlík, pytlák, strašpytel</li>
        </ul>
        
        <li>Pysk</li>
        <ul>
                    <li>Ptakopysk</li>
        </ul>
        
        <li>Netopýr</li>
        <li>Slepýš</li>
        <li>Pyl</li>
        <ul>
            <li>Pylový, opylovat</li>
        </ul>
        
        <li>Kopyto</li>
        <ul>
                    <li>Kopýtko, sudokopytník, lichokopytník</li>
        </ul>
        
        <li>Klopýtat</li>
        <ul>
                    <li>Klopýtnutí</li>
        </ul>
        
        <li>Třpytit se</li>
        <ul>
                    <li>Třpyt, třpytka</li>
        </ul>
        
        <li>Zpytovat</li>
        <ul>
                    <li>Nevyzpytatelný</li>
        </ul>
        
        <li>Pykat</li>
        <ul>
            <li>Odpykat</li>
        </ul>
        
        <li>Pýr</li>
        <ul>
                    <li>Pýří</li>
        </ul>
        
        <li>Pýřit se</li>
        <li>Čepýřit se</li>
    </ul>
    <br>
    <p>Dále píšeme Y v některých slovech cizího původu, například pyžamo, pyrotechnika, pyré, pyramida, Pyreneje, kapybara.</p>
    <p>Pozor na stejně či podobně znějící slova s různým významem:</p>
    <ul>
        <li>pykat (nést za něco trest) - pikat (ve hře na schovávanou)</li>
        <li>slepýš (beznohá ještěrka) - slepíš (tvar slovesa slepit)</li>
        <li>pýcha (povýšenost) - píchá (bodá)</li>
        <li>opylovat (přenést pyl z jednoho květu na druhý) - opilovat (obrousit)</li>
    </ul>
</li>
<li>
    <strong>S</strong>
    <ul>
        <li>Syn</li>
        <ul>
                    <li>Synek, zlosyn, synovec</li>
        </ul>
        
        <li>Sytý</li>
        <ul>
                    <li>Nasytit, sytost, dosyta</li>
        </ul>
        
        <li>Sýr</li>
        <ul>
                    <li>Sýrový, syreček, sýrárna, syřidlo, syrovátka</li>
        </ul>
        
        <li>Syrový</li>
        <li>Sychravý</li>
        <li>Usychat</li>
        <ul>
                    <li>Vysychat, zasychat</li>
        </ul>
        
        <li>Sýkora</li>
        <ul>
                    <li>Sýkorka</li>
        </ul>
        
        <li>Sýček</li>
        <ul>
                    <li>Sýčkovat</li>
        </ul>
        
        <li>Sysel</li>
        <ul>
                    <li>Syslit</li>
        </ul>
        
        <li>Syčet</li>
        <ul>
                    <li>Sykot, sykavka, syčák</li>
        </ul>
        
        <li>Sypat</li>
        <ul>
                    <li>Sýpka, nasypat, dosypat, násyp, posyp, osypaný</li>
        </ul>
        
    </ul>
    <br>
    <p>Dále píšeme Y v některých zeměpisných názvech a slovech cizího původu, například symbol, systém, psychologie, symetrie, symfonie, syntéza, sympatický, synonymum, Sýrie, Pensylvánie.</p>
    <p>Pozor na stejně či podobně znějící slova s různým významem:</p>
    <ul>
        <li>sypal (ptákům zrní) - sípal (chraptěl)</li>
        <li>sýrový (vyrobený ze sýru), syrový (nevařený) - sírový (z chemického prvku síra, např. kyselina sírová), sirky</li>
        <li>syrý (syrový, vlhký) - sirý (osiřelý)</li>
        <li>syn (dítě) - sin (zkratka matematické funkce sinus)</li>
    </ul>
</li>
<li>
    <strong>V</strong>
    <ul>
        <li>Vy</li>
        <li>Vykat</li>
        <li>Vysoký</li>
        <ul>
                    <li>Vysoko, výška, povýšit, vysokoškolák, Vyšehrad, Vysočany</li>
        </ul>
        
        <li>Výt</li>
        <ul>
                    <li>Zavýt, vytí</li>
        </ul>
        
        <li>Výskat</li>
        <ul>
                    <li>Výskot, zavýsknout</li>
        </ul>
        
        <li>Zvykat</li>
        <ul>
                    <li>Zvyk, nezvyk, zlozvyk, zvyklost, odvykat</li>
        </ul>
       
        <li>Žvýkat</li>
        <ul>
                    <li>Žvýkačka, přežvýkavec</li>
        </ul>
        
        <li>Vydra</li>
        <ul>
                    <li>Povydří</li>
        </ul>
       
        <li>Výr (zvíře)</li>
        <li>Vyžle</li>
        <li>Povyk</li>
        <ul>
                    <li>Povykovat</li>
        </ul>
        
        <li>Výheň</li>
    </ul>
    <br>
    <h2>Předpona vy-</h2>
    <p>Tvrdé Y píšeme také ve slovech, která obsahují předponu vy-, vý-. Předponu vy-, vý – poznáme tak, že je možné ji odtrhnout od slova (kořene) tak, že vznikne slovo, které má smysl (výlet, let). Předponu vy-, vý – můžeme ve slově také nahradit jinou předponou (výlet, nálet, odlet). Některá slova mohou mít více předpon, takže vy-, vý – nemusí být hned na začátku slova (nevyhnutelný, nejvyspělejší, zvýraznit).</p>
    <h2>Příklady slov s předponou vy-, vý-</h2>
    <br>
    <p>Pozor na stejně či podobně znějící slova s různým významem:</p>
    <ul>
        <li>výr (pták) - vír (na vodě)</li>
        <li>vysel (např. vysel obilí, předpona vy-) - visel (např. visel na věšáku, od slova viset)</li>
        <li>zavýt (vydávat zvuk) - závit (součástka)</li>
        <li>výška (např. nadmořská výška) - vížka (malá věž)</li>
    </ul>
</li>
<li>
    <strong>Z</strong>
    <ul>
        <li>Brzy</li>
        <li>Jazyk</li>
        <ul>
                    <li>Jazýček, jazykověda, cizojazyčný</li>
        </ul>
        
        <li>Nazývat se</li>
        <ul>
                    <li>Ozývat se, vzývat, vyzývavý, vyzývatel, vyzývat</li>
        </ul>
        
        <li>Ruzyně</li>
    </ul>
    <br>
    <span>POZOR! enzym, azyl, </span>
            <span>Brzičko - přípona -ičko, </span>
            <span>Vyzývat (např. Soupeře k odvetě), ale zívat (otevírat pusu)</span>
   
    <br></br>
            <h2><span>Velmi si dávejte pozor na slova příbuzná k vyjmenovaným!!! Právě tam vznikají nejčastější chyby...</span></h2>
</li>
</ul>
</article>

<div class="display-5">Psaní i/y v koncovkách</div>
<article>
    <h3>Koncovky podstatných jmen: mužský rod</h3>
    <p>Podstatná jména mužského rodu se dělí na životná a neživotná. Při určování vzoru nejdříve určíme životnost, viz téma Podstatná jména: rody. Jakmile víme životnost, vystačíme k určení vzoru většinou s prvním a druhým pádem.</p>
    <p>Znalost vzoru využijeme například při určování koncovek.</p>
    <h4>Vzory slov životných</h4>
    <ul>
        <br></br>
        <li>Vzor pán: pán bez pánA – používá se, pokud podstatné jméno končí v 1. pádě na souhlásku a pokud je ve 2. pádě -A (např. peS bez psA).</li>
        <br></br>
        <li>Vzor muž: muž bez mužE – používá se, pokud podstatné jméno končí v 1. pádě na souhlásku a pokud je ve 2. pádě -E (např. učiteL bez učitelE).</li>
        <br></br>
        <li>Vzor soudce: soudce bez soudcE – používá se, pokud podstatné jméno končí v 1. pádě na samohlásku E a pokud je ve 2. pádě -E (např. výrobcE bez výrobcE).</li>
        <br></br>
        <li>Vzor předseda: předseda bez předsedY – používá se, pokud podstatné jméno končí v 1. pádě na samohlásku A a pokud je ve 2. pádě -Y (např. fotbalista bez fotbalisty).</li>
    </ul>
    <br></br>
    <h4>Vzory slov neživotných</h4>
    <ul>
        <br></br>
        <li>Vzor hrad: hrad bez hradU (případně pomocný vzor les bez lesa) – používá se, pokud podstatné jméno končí v 1. pádě na souhlásku a pokud je ve 2. pádě -U nebo -A (např. důM bez domU nebo skleP bez sklepA).</li>
        <br></br>
        <li>Vzor stroj: stroj bez strojE – používá se, pokud podstatné jméno končí v 1. pádě na souhlásku a pokud je ve 2. pádě -E (např. cíL bez cílE).</li>
    </ul>
    <br>
    <h3>Koncovky podstatných jmen: ženský rod</h3>
    

    <p>Koncovku určujeme podle vzoru</p>

    <p>Pro ženský rod máme v češtině 4 vzory: žena, růže, píseň, kost. Poslední tři řadíme k tzv. měkkým vzorům, tedy vzorům, které mají pouze koncovky s měkkým I. Výjimku tvoří jen vzor žena (například tvar ženy), ten ale snadno poznáme podle typického zakončení na -A. Pokud tedy končí podstatné jméno ženského rodu na jiné písmeno než -a, víme, že v něm píšeme měkké I.</p>

    <strong>Pozor, nelze použít naopak, tedy neplatí, že pokud podstatné jméno končí na –a, píšeme automaticky tvrdé Y. Vzor žena má také měkké I (v 7. p. množného čísla).</strong>

    <h4>Příklady:</h4>
    <br>
    Jedeme do Bratislavy. – Bratislava bez Bratislavy jako žena bez ženy, jedeme do Bratislavy jako ženy.
    <br>
    Jedeme do Boleslavi. – Boleslav bez Boleslavi jako kost bez kosti, jedeme do Boleslavi jako kosti.
    <br>
    V prázdné láhvi. – Láhev bez láhve jako píseň bez písně, v láhvi jako v písni.
    <br>
    Mít něco na mysli. – Mysl bez mysli jako kost bez kosti, mít něco na mysli jako kosti.
    <br>
    Otepi slámy. – Otep bez otepi jako kost bez kosti, otepi jako kosti.
    <br>
    Jít na oběd do menzy. – Menza bez menzy jako ženy, jít na oběd do menzy jako ženy.
    <br>
    Z hloubi duše. – Hloub bez hloubi jako kost bez kosti, z hloubi jako kosti.
    <br>
    Soudní expertizy. – Expertiza bez expertizy jako žena bez ženy, soudní expertizy jako ženy.
    <br>
    Na území Panamy. – Panama bez Panamy jako žena bez ženy, na území Panamy jako ženy.
    <br></br>
    <h3>Koncovky podstatných jmen: střední rod</h3>
   

    <p>Koncovku určujeme podle vzoru</p>

    <h4>Příklady:</h4>
    <br>
    V podpalubí – podpalubí bez podpalubí jako stavení bez stavení, v podpalubí jako stavení.
    <br>
    Na Labi – Labe bez Labe jako moře bez moře, na Labi jako moři.
    <br>
    Pod bradly – bradlo bez bradla jako město bez města, pod bradly jako městy.
    <br>
    Se sily na obilí – silo bez sila jako město bez města, se sily jako městy.
    <br>
    Mezi dvěma intermezzy – intermezzo bez intermezza jako město bez města, mezi intermezzy jako městy.
    <br>
    Zboží zatížené cly – clo bez cla jako město bez města, cly jako městy.
</article>

@*<div class="display-5">Koncovky přídavných jmen (jarní/mladý)</div>
<article>

    </article>*@

