@{
    Layout = "_Layout";


    ViewBag.Title = "Psaní i/y";
    ViewBag.Author = "Anička";
    ViewBag.GenerateContent = false;
    
}

<div class="display-1">
    @ViewBag.Title
</div>


<div class="display-5">H,ch,k,r, ž, š, č,ř,c,j</div>
<article>
    - Tvrdé souhlásky jsou <span>H,CH,K,R,D,T,N</span><br>
    - Měkké souhlásky jsou <span>C,J, Ž, Š, Č, Ř,Ď,Ť,Ň</span><br><br>
    - Po tvrdých souhláskách H,CH,K,R píšeme v ČESKÝCH slovech vždy tvrdé <span>y</span><br>
    - Po měkkých souhláskách C,J, Ž, Š, Č, Ř píšeme v ČESKÝCH slovech vždy měkké <span>i</span><br>
    - V souhláskách D,T,N volíme písmeno podle výslovnosti <br>
    - Pozor na přejatá slova, tato pravidla u nich nemusí platit
</article>

<div class="display-5">Dy,ty,ny,di,ti,ni</div>
<article>
    - Po souhláskách D,T,N volíme písmeno I/Y podle výslovnosti:<br>
    - Dívka vs. Dým<br>
    - Tisk vs. Týden<br>
    - Rybník vs. Noviny<br>
    - Pozor na přejatá slova, tato pravidla u nich nemusí platit
</article>

<div class="display-5">Přejatá slova</div>
<article>
    Výjimky:<br>
    - H: historie, hitparáda<br>
    - CH: orchidej, architekt<br>
    - K: kino, kiwi<br>
    - R: triko, princezna, turistika, experiment, mandarinka, Kristus, Británie, Marie<br><br>
    V následujících případech vyslovujeme tvrdě, ale píšeme měkké I:<br>
    - D: medicína, dinosaurus, tradice, diktát<br>
    - T: lokomotiva<br><br>
    Psaní tvrdého Y po měkkých souhláskách nastává v přejatých slov po písmenu C:<br>
    - Cylindr<br>
    - Cyklista<br>
    - Encyklopedie<br><br>
    Zajímavost k tomuto tématu!!<br>
    - Pozor také na stejně znějící slova s různým významem: tip (odhad, rada, doporučení) vs. typ (druh, model)
</article>

<div class="display-5">Vyjmenovaná slova</div>
<article>
<ul>
<li>
    <strong>B</strong>
    <ul>
        <li>Být</li>
        <li>Bychom, abys, kdybychom, zbytek, nabýt, dobýt, blahobyt</li>
        <li>Nabýt x nabít</li>
        <li>Stát se majitelem, držitelem, nositelem něčeho nebo zvětšit svůj objem</li>
        <li>Dát výprask, napěchovat, naplnit nábojem, vsunout, dodat elektrický náboj, natlouci</li>
        <li>Dobýt x dobít</li>
        <li>Zmocnit se bojem (dobýt město), velkým úsilím dosáhnout (dobýt svobody), vynutit (dobýt z někoho přiznání)</li>
        <li>Přestat bít (srdce dobilo), ubít (dobít zvíře), doplnit elektrickým nábojem (dobít akumulátor)</li>
        <li>Bydlit</li>
        <li>Obydlí, bydlo</li>
        <li>Obyvatel</li>
        <li>Byt</li>
        <li>Příbytek</li>
        <li>Nábytek</li>
        <li>Dobytek</li>
        <li>Obyčej</li>
        <li>Obyčejně, neobyčejný</li>
        <li>Bystrý</li>
        <li>Bystřina, bystrost, Bystřice, Bystrouška, Bystrozraký</li>
        <li>Bylina</li>
        <li>Býlí, bylinkářka, býložravec, černobýl</li>
        <li>Kobyla</li>
        <li>Kobylka, Kobylisy</li>
        <li>Býk</li>
        <li>Býčí, Býkov</li>
        <li>Babyka</li>
    </ul>
    <p>Výjimky a záludnosti:</p>
    <ul>
        <li>Některé zeměpisné názvy</li>
        <li>Přibyslav, Bydžov, Zbyněk, Zbyšek</li>
        <li>Slova cizího původu</li>
        <li>Bysta, labyrint, byrokracie, Libye, Babylon</li>
        <li>Chytáky:</li>
        <li>ve vlaku bylo nabito (bylo tam plno)</li>
        <li>starobylý a ledabylý (odvozeno od být), ale způsobilý (odvozeno od způsob)</li>
    </ul>
</li>
<li>
    <strong>L</strong>
    <ul>
        <li>Slyšet</li>
        <li>Poslyš, nedoslýchavý</li>
        <li>Mlýn</li>
        <li>Mlynář, mlýnice</li>
        <li>Blýskat se</li>
        <li>Blýskavý, blyštět se</li>
        <li>Polykat</li>
        <li>Zalykat se, polykač</li>
        <li>Plynout</li>
        <li>Plynulý, oplývat, plyn, plynovod</li>
        <li>Plýtvat</li>
        <li>Vzlykat</li>
        <li>Vzlykot, vzlykání</li>
        <li>Lysý</li>
        <li>Lysina, lyska, lysohlávka, Lysice, Lysá, Lysůvky</li>
        <li>Lýko</li>
        <li>Lýkožrout, lýkový</li>
        <li>Lýtko</li>
        <li>Lyže</li>
        <li>Lyžař, lyžování, lyžáky</li>
        <li>Pelyněk</li>
        <li>Plyš</li>
        <li>Plyšový, plyšák</li>
    </ul>
    <p>Výjimky a záludnosti:</p>
    <ul>
        <li>Některých slovech cizího původu (např. lyceum, lyrický, olympijský, Hollywood)</li>
        <li>Slovech s předponou poly- (např. polystyren, polyteismus)</li>
        <li>Ve slovech obsahujících – lýza (např. elektrolýza, analýza, paralýza)</li>
    </ul>
</li>
<li>
    <strong>M</strong>
    <ul>
        <li>My</li>
        <li>Mýt</li>
        <li>Umyvadlo, mýdlo, myčka</li>
        <li>Myslit</li>
        <li>Myšlenka, smysl, pomyšlení</li>
        <li>Mýlit se</li>
        <li>Mýlka, omyl, pomýlit se, neomylný</li>
        <li>Hmyz</li>
        <li>Hmyzožravec</li>
        <li>Myš</li>
        <li>Hlemýžď</li>
        <li>Mýtit</li>
        <li>Mýtina</li>
        <li>Zamykat</li>
        <li>Odemykat, výmyk</li>
        <li>Smýkat</li>
        <li>Smyk, průsmyk, přesmyčka</li>
        <li>Dmýchat</li>
        <li>Chmýří</li>
        <li>Nachomýtnout se</li>
        <li>Mýto</li>
        <li>Mykat</li>
    </ul>
    <p>Dále píšeme Y v některých slovech cizího původu, například sumýš (mořský živočich), mykologie (věda o houbách), mys (skalnatý ostroh), mystický (záhadný), mýtus.</p>
    <p>Pozor na stejně znějící slova s různým významem:</p>
    <ul>
        <li>my (1. osoba čísla množného) - mi (3. pád zájmena já)</li>
        <li>mýt (umývat) - mít (vlastnit něco)</li>
        <li>mýval (zvíře) - míval (tvar slovesa mít)</li>
        <li>vymýtit (vykácet) - vymítit (odstranit zlo, ďábla)</li>
    </ul>
</li>
<li>
    <strong>P</strong>
    <ul>
        <li>Pýcha</li>
        <li>Pyšný, přepych, pýchavka</li>
        <li>Pytel</li>
        <li>Pytlík, pytlák, strašpytel</li>
        <li>Pysk</li>
        <li>Ptakopysk</li>
        <li>Netopýr</li>
        <li>Slepýš</li>
        <li>Pyl</li>
        <li>Pylový, opylovat</li>
        <li>Kopyto</li>
        <li>Kopýtko, sudokopytník, lichokopytník</li>
        <li>Klopýtat</li>
        <li>Klopýtnutí</li>
        <li>Třpytit se</li>
        <li>Třpyt, třpytka</li>
        <li>Zpytovat</li>
        <li>Nevyzpytatelný</li>
        <li>Pykat</li>
        <li>Odpykat</li>
        <li>Pýr</li>
        <li>Pýří</li>
        <li>Pýřit se</li>
        <li>Čepýřit se</li>
    </ul>
    <p>Dále píšeme Y v některých slovech cizího původu, například pyžamo, pyrotechnika, pyré, pyramida, Pyreneje, kapybara.</p>
    <p>Pozor na stejně či podobně znějící slova s různým významem:</p>
    <ul>
        <li>pykat (nést za něco trest) - pikat (ve hře na schovávanou)</li>
        <li>slepýš (beznohá ještěrka) - slepíš (tvar slovesa slepit)</li>
        <li>pýcha (povýšenost) - píchá (bodá)</li>
        <li>opylovat (přenést pyl z jednoho květu na druhý) - opilovat (obrousit)</li>
    </ul>
</li>
<li>
    <strong>S</strong>
    <ul>
        <li>Syn</li>
        <li>Synek, zlosyn, synovec</li>
        <li>Sytý</li>
        <li>Nasytit, sytost, dosyta</li>
        <li>Sýr</li>
        <li>Sýrový, syreček, sýrárna, syřidlo, syrovátka</li>
        <li>Syrový</li>
        <li>Sychravý</li>
        <li>Usychat</li>
        <li>Vysychat, zasychat</li>
        <li>Sýkora</li>
        <li>Sýkorka</li>
        <li>Sýček</li>
        <li>Sýčkovat</li>
        <li>Sysel</li>
        <li>Syslit</li>
        <li>Syčet</li>
        <li>Sykot, sykavka, syčák</li>
        <li>Sypat</li>
        <li>Sýpka, nasypat, dosypat, násyp, posyp, osypaný</li>
    </ul>
    <p>Dále píšeme Y v některých zeměpisných názvech a slovech cizího původu, například symbol, systém, psychologie, symetrie, symfonie, syntéza, sympatický, synonymum, Sýrie, Pensylvánie.</p>
    <p>Pozor na stejně či podobně znějící slova s různým významem:</p>
    <ul>
        <li>sypal (ptákům zrní) - sípal (chraptěl)</li>
        <li>sýrový (vyrobený ze sýru), syrový (nevařený) - sírový (z chemického prvku síra, např. kyselina sírová), sirky</li>
        <li>syrý (syrový, vlhký) - sirý (osiřelý)</li>
        <li>syn (dítě) - sin (zkratka matematické funkce sinus)</li>
    </ul>
</li>
<li>
    <strong>V</strong>
    <ul>
        <li>Vy</li>
        <li>Vykat</li>
        <li>Vysoký</li>
        <li>Vysoko, výška, povýšit, vysokoškolák, Vyšehrad, Vysočany</li>
        <li>Výt</li>
        <li>Zavýt, vytí</li>
        <li>Výskat</li>
        <li>Výskot, zavýsknout</li>
        <li>Zvykat</li>
        <li>Zvyk, nezvyk, zlozvyk, zvyklost, odvykat</li>
        <li>Žvýkat</li>
        <li>Žvýkačka, přežvýkavec</li>
        <li>Vydra</li>
        <li>Povydří</li>
        <li>Výr (zvíře)</li>
        <li>Vyžle</li>
        <li>Povyk</li>
        <li>Povykovat</li>
        <li>Výheň</li>
    </ul>
    <p>Předpona vy-</p>
    <p>Tvrdé Y píšeme také ve slovech, která obsahují předponu vy-, vý-. Předponu vy-, vý – poznáme tak, že je možné ji odtrhnout od slova (kořene) tak, že vznikne slovo, které má smysl (výlet, let). Předponu vy-, vý – můžeme ve slově také nahradit jinou předponou (výlet, nálet, odlet). Některá slova mohou mít více předpon, takže vy-, vý – nemusí být hned na začátku slova (nevyhnutelný, nejvyspělejší, zvýraznit).</p>
    <p>Příklady slov s předponou vy-, vý-</p>
    <p>Pozor na stejně či podobně znějící slova s různým významem:</p>
    <ul>
        <li>výr (pták) - vír (na vodě)</li>
        <li>vysel (např. vysel obilí, předpona vy-) - visel (např. visel na věšáku, od slova viset)</li>
        <li>zavýt (vydávat zvuk) - závit (součástka)</li>
        <li>výška (např. nadmořská výška) - vížka (malá věž)</li>
    </ul>
</li>
<li>
    <strong>Z</strong>
    <ul>
        <li>Brzy</li>
        <li>Jazyk</li>
        <li>Jazýček, jazykověda, cizojazyčný</li>
        <li>Nazývat se</li>
        <li>Ozývat se, vzývat, vyzývavý, vyzývatel, vyzývat</li>
        <li>Ruzyně</li>
    </ul>
    <p>POZOR: enzym, azyl</p>
    <ul>
        <li>Brzičko</li>
        <li>Vyzývat (např. Soupeře k odvetě), ale zívat (otevírat pusu)</li>
    </ul>
    <p>Velmi si dávejte pozor na slova příbuzná slova!!! Právě tam vznikají nejčastější chyby...</p>
</li>
</ul>
</article>

<div class="display-5">Psaní i/y v koncovkách</div>
<article>
    <h3>Koncovky podstatných jmen: mužský rod</h3>
    <p>Podstatná jména mužského rodu se dělí na životná a neživotná. Při určování vzoru nejdříve určíme životnost, viz téma Podstatná jména: rody. Jakmile víme životnost, vystačíme k určení vzoru většinou s prvním a druhým pádem.</p>
    <p>Znalost vzoru využijeme například při určování koncovek.</p>
    <h4>Vzory slov životných</h4>
    <ul>
        <li>Vzor pán: pán bez pánA – používá se, pokud podstatné jméno končí v 1. pádě na souhlásku a pokud je ve 2. pádě -A (např. peS bez psA).</li>
        <li>Vzor muž: muž bez mužE – používá se, pokud podstatné jméno končí v 1. pádě na souhlásku a pokud je ve 2. pádě -E (např. učiteL bez učitelE).</li>
        <li>Vzor soudce: soudce bez soudcE – používá se, pokud podstatné jméno končí v 1. pádě na samohlásku E a pokud je ve 2. pádě -E (např. výrobcE bez výrobcE).</li>
        <li>Vzor předseda: předseda bez předsedY – používá se, pokud podstatné jméno končí v 1. pádě na samohlásku A a pokud je ve 2. pádě -Y (např. fotbalista bez fotbalisty).</li>
    </ul>
    <h4>Vzory slov neživotných</h4>
    <ul>
        <li>Vzor hrad: hrad bez hradU (případně pomocný vzor les bez lesa) – používá se, pokud podstatné jméno končí v 1. pádě na souhlásku a pokud je ve 2. pádě -U nebo -A (např. důM bez domU nebo skleP bez sklepA).</li>
        <li>Vzor stroj: stroj bez strojE – používá se, pokud podstatné jméno končí v 1. pádě na souhlásku a pokud je ve 2. pádě -E (např. cíL bez cílE).</li>
    </ul>
</article>

<div class="display-5">Dohoda mezi králi</div>
<table>
    <thead>
        <tr>
            <th>Věta</th>
            <th>Podstatné jméno</th>
            <th>Vidím</th>
            <th>Rod</th>
            <th>Koncovka bez koncovky</th>
            <th>Podstatné jméno v dohodě</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dohoda mezi králi.</td>
            <td>Král</td>
            <td>vidím krále</td>
            <td>mužský životný</td>
            <td>král bez krále</td>
            <td>muži</td>
        </tr>
    </tbody>
</table>

<div class="display-5">Vyšli posly</div>
<table>
    <thead>
        <tr>
            <th>Věta</th>
            <th>Podstatné jméno</th>
            <th>Vidím</th>
            <th>Rod</th>
            <th>Koncovka bez koncovky</th>
            <th>Podstatné jméno v dohodě</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Vyšli posly.</td>
            <td>Posel</td>
            <td>vidím posla</td>
            <td>mužský životný</td>
            <td>posel bez posla</td>
            <td>páni</td>
        </tr>
    </tbody>
</table>

<div class="display-5">Rysi a divoké kočky</div>
<table>
    <thead>
        <tr>
            <th>Věta</th>
            <th>Podstatné jméno</th>
            <th>Vidím</th>
            <th>Rod</th>
            <th>Koncovka bez koncovky</th>
            <th>Podstatné jméno v dohodě</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Rysi a divoké kočky.</td>
            <td>Rys</td>
            <td>vidím rysa</td>
            <td>mužský životný</td>
            <td>rys bez rysa</td>
            <td>páni</td>
        </tr>
    </tbody>
</table>

<div class="display-5">Pevné motouzy</div>
<table>
    <thead>
        <tr>
            <th>Věta</th>
            <th>Podstatné jméno</th>
            <th>Vidím</th>
            <th>Rod</th>
            <th>Koncovka bez koncovky</th>
            <th>Podstatné jméno v dohodě</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pevné motouzy.</td>
            <td>Motouz</td>
            <td>vidím motouz</td>
            <td>mužský neživotný</td>
            <td>motouz bez motouzu</td>
            <td>hrady</td>
        </tr>
    </tbody>
</table>

<div class="display-5">Lesy skrývají datly</div>
<table>
    <thead>
        <tr>
            <th>Věta</th>
            <th>Podstatné jméno</th>
            <th>Vidím</th>
            <th>Rod</th>
            <th>Koncovka bez koncovky</th>
            <th>Podstatné jméno v dohodě</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lesy skrývají datly.</td>
            <td>Datel</td>
            <td>vidím datla</td>
            <td>mužský životný</td>
            <td>datel bez datla</td>
            <td>páni</td>
        </tr>
    </tbody>
</table>

<div class="display-5">Koupil zajíce v pytli</div>
<table>
    <thead>
        <tr>
            <th>Věta</th>
            <th>Podstatné jméno</th>
            <th>Vidím</th>
            <th>Rod</th>
            <th>Koncovka bez koncovky</th>
            <th>Podstatné jméno v dohodě</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Koupil zajíce v pytli.</td>
            <td>Pytel</td>
            <td>vidím pytel</td>
            <td>mužský neživotný</td>
            <td>pytel bez pytle</td>
            <td>stroje</td>
        </tr>
    </tbody>
</table>

<div class="display-5">Vyjít s penězi, platit penězi</div>
<table>
    <thead>
        <tr>
            <th>Věta</th>
            <th>Podstatné jméno</th>
            <th>Vidím</th>
            <th>Rod</th>
            <th>Koncovka bez koncovky</th>
            <th>Podstatné jméno v dohodě</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Vyjít s penězi, platit penězi.</td>
            <td>Peníz</td>
            <td>vidím peníz</td>
            <td>mužský neživotný</td>
            <td>peníz bez peníze</td>
            <td>stroje</td>
        </tr>
    </tbody>
</table>

<div class="display-5">Léky proti kašli</div>
<table>
    <thead>
        <tr>
            <th>Věta</th>
            <th>Podstatné jméno</th>
            <th>Vidím</th>
            <th>Rod</th>
            <th>Koncovka bez koncovky</th>
            <th>Podstatné jméno v dohodě</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Léky proti kašli.</td>
            <td>Kašel</td>
            <td>vidím kašel</td>
            <td>mužský neživotný</td>
            <td>kašel bez kašle</td>
            <td>stroje</td>
        </tr>
    </tbody>
</table>

<div class="display-5">Druzi mi dluží</div>
<table>
    <thead>
        <tr>
            <th>Věta</th>
            <th>Podstatné jméno</th>
            <th>Vidím</th>
            <th>Rod</th>
            <th>Koncovka bez koncovky</th>
            <th>Podstatné jméno v dohodě</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Druzi mi dluží.</td>
            <td>Druh</td>
            <td>vidím druha</td>
            <td>mužský životný</td>
            <td>druh bez druha</td>
            <td>páni</td>
        </tr>
    </tbody>
</table>

<div class="display-5">Na moři byly vlnolamy</div>
<table>
    <thead>
        <tr>
            <th>Věta</th>
            <th>Podstatné jméno</th>
            <th>Vidím</th>
            <th>Rod</th>
            <th>Koncovka bez koncovky</th>
            <th>Podstatné jméno v dohodě</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Na moři byly vlnolamy.</td>
            <td>Vlnolam</td>
            <td>vidím vlnolam</td>
            <td>mužský neživotný</td>
            <td>vlnolam bez vlnolamu</td>
            <td>hrady</td>
        </tr>
    </tbody>
</table>