
@using Maturita.Web.Managers


@{
    ViewBag.Title = "Database";
    Layout = "_Layout";
    ViewBag.Category = "";
}

<h2 class="display-1 mb-4"><i class="bi bi-database"></i> Database</h2>
<div class="d-flex gap-5 flex-md-row flex-column-reverse">
    <div class="h-100 w-100">
        <div class="background-text">
            Zde najdeš všechny okruhy z čeho je maturitní zkoušení a praxe.

        </div>

        <div class="display-4 hidden">
            Jak si mohu procvičit?
        </div>
        <div class="background-text">
            Stačí udělat <span>všechny projekty</span>, který nalezneš níže a měl bys být připravený na <span>všechno</span>.
            Doporučuju neopoužívat na řešení internet a zkusit si podarit pouze s <span>dokumentací.</span>
        </div>
        
        @await Component.InvokeAsync("ExercisesComponent", new {type = ProjectManager.ProjectType.Dbs})
        
    </div>
    <div class="background-text h-100 w-100">
        <div class="text-danger fs-6 text-center">
            Vytvořeno relativně v krátké době, očekávejte chybky.
        </div>
        <div class="display-4 mb-3">Okruhy</div>
        <div class="ms-3">

            <div style="font-weight: 300; font-size: 26px">Práce s databazí</div>
            <ul>
                <li><a disabled asp-area="Database" asp-controller="DatabaseCreate" asp-action="Design">Návrh databáse a obecné informace</a></li>
                <li><a asp-area="Database" asp-controller="DatabaseCreate" asp-action="Creation">Vytváření databaze</a></li>
            </ul>

            <div style="font-weight: 300; font-size: 26px">Práce s tabulky</div>
            <ul>
                <li><a asp-area="Database" asp-controller="SqlTables" asp-action="Selects">Dotazy - select</a></li>
                <li><a asp-area="Database" asp-controller="SqlTables" asp-action="Views">Pohledy - views</a></li>
                <li><a asp-area="Database" asp-controller="SqlTables" asp-action="TokProgramu">Tok programu - If,While,Case,Declare,set</a></li>
                <li><a asp-area="Database" asp-controller="SqlTables" asp-action="TemporaryTables">Dočasné tabulky - temporary tables</a></li>
                <li><a asp-area="Database" asp-controller="SqlTables" asp-action="ProcAndFunctions">Procedury a funkce - procedures & functions</a></li>
                <li><a asp-area="Database" asp-controller="SqlTables" asp-action="SelectsJoins">Dotazy Joins - select Joins</a></li>
                <li><a asp-area="Database" asp-controller="SqlTables" asp-action="DDL">DDL - Data Definition Language</a></li>
                <li><a asp-area="Database" asp-controller="SqlTables" asp-action="Zakladnimodifikacedat">DML - Základní modifikace dat</a></li>
                <li><a asp-area="Database" asp-controller="SqlTables" asp-action="Triggers">Triggery - Triggers</a></li>
                <li><a asp-area="Database" asp-controller="SqlTables" asp-action="Cursors">Kurzory - cursors</a></li>
            </ul>

            <div style="font-weight: 300; font-size: 26px">Práce s daty</div>
            <ul>
                <li><a asp-controller="Mssql" asp-action="Transaction">Transactions</a></li>
                <li><a>Import data - CSV,Excel,TXT, Access</a></li>
                <li><a>Import data - SSIS</a></li>
                <li><a>Dělení dat - Partitioning</a></li>
                <li><a>Zasílání protokolu - Log shipping</a></li>
            </ul>

            <div style="font-weight: 300; font-size: 26px">Zabezpečení serveru/dat</div>
            <ul>
                <li><a asp-controller="MsSqlSecurity" asp-action="Audit">Audit akcí - Audit</a></li>
                <li><a asp-controller="MsSqlSecurity" asp-action="Backup">Zálohování - Backup </a></li>
                <li><a asp-controller="MsSqlSecurity" asp-action="Encryption">Šifrování dat - Encryption</a></li>
                <li><a asp-controller="MsSqlSecurity" asp-action="LoginAndUser">uživatelé a servrové role - Login and User</a></li>
            </ul>

            <div style="font-weight: 300; font-size: 26px">Data mezi servery</div>
            <ul>
                <li><a asp-controller="Mssql" asp-action="LogShipping">Log shipping</a></li>
                <li><a asp-controller="Mssql" asp-action="Replication">Replikace</a></li>
                <li><a asp-controller="Mssql" asp-action="Mirroring">Mirroring</a></li>

            </ul>

        </div>

    </div>

</div>