@{
    Layout = "_Layout"; // Nechat jak je

    ViewBag.Title = "Zabezpečení - Audit";
    ViewBag.Author = "Jakub Boháček";

    ViewBag.GenerateContent = true;
}
<div class="display-1">
    @ViewBag.Title
</div>
<article>
    <p>Audit v MS SQL Serveru je funkce, která umožňuje monitorovat a zaznamenávat události v databázích a instanci SQL Serveru pro účely zabezpečení a sledování. Auditování v SQL Serveru slouží k zaznamenání aktivit, které mohou být důležité pro správu databáze, zabezpečení, shodu s právními předpisy nebo analýzu výkonu.</p>
    <ul>
        <li>Auditování umožňuje sledovat a zaznamenávat určité akce nebo změny v databázích a instanci.</li>
        <li>Vytvoření auditu se provádí pomocí příkazů <strong>CREATE SERVER AUDIT</strong> (pro instance) a <strong>CREATE DATABASE AUDIT SPECIFICATION</strong> (pro databáze).</li>
    </ul>

</article>
<div class="display-2">Serverový Audit</div>
<article>
    <ul>
        <li>Serverový audit umožňuje sledovat události na úrovni instance SQL Serveru.</li>
        <li>Můžete definovat, které události chcete sledovat, například přihlášení, události serveru, změny oprávnění apod.</li>
        <li>Audity mohou být uloženy do souborů, událostních protokolů systému Windows nebo na jiné cíle.</li>
    </ul>
</article>
<div class="display-2">
    Databázový audit
</div>
<article>
    <ul>
        <li>Databázový audit umožňuje monitorovat akce specifické pro určitou databázi.</li>
        <li>Můžete definovat, které události chcete sledovat, například operace DML (INSERT, UPDATE, DELETE), výběry dat, změny schémat apod.</li>
    </ul>
</article>

<div class="display-2">Použití auditu</div>

<article>
    <h2>1. Nastavení Auditní specifikace na serveru:</h2>
    <h3>Vytvořte audit na serveru:</h3>
    <p>Použijte příkaz <code>CREATE SERVER AUDIT</code> k vytvoření auditního objektu na serveru.</p>
    <p>Můžete specifikovat cílové umístění pro ukládání auditních záznamů (například soubor nebo aplikaci).</p>
    <pre><code class="language-sql">CREATE SERVER AUDIT MyServerAudit
TO FILE (FILENAME = 'C:\\AuditLogs\\AuditLogFile.sqlaudit');</code></pre>

    <h3>Povolte audit:</h3>
    <p>Po vytvoření auditního objektu je nutné jej povolit.</p>
    <pre><code class="language-sql">ALTER SERVER AUDIT MyServerAudit
WITH (STATE = ON);</code></pre>

    <h2>2. Nastavení Auditní specifikace na databázi:</h2>
    <h3>Vytvořte auditní specifikaci na databázi:</h3>
    <p>Použijte příkaz <code>CREATE DATABASE AUDIT SPECIFICATION</code> k vytvoření auditní specifikace na úrovni databáze.</p>
    <p>Můžete definovat, jaké akce nebo události chcete auditovat (například přístup k tabulkám nebo změny dat).</p>
    <pre><code class="language-sql">CREATE DATABASE AUDIT SPECIFICATION MyDatabaseAuditSpec
FOR SERVER AUDIT MyServerAudit
ADD (SELECT ON myTable BY [username]),
ADD (INSERT ON myTable BY [username]);</code></pre>

    <h3>Povolte auditní specifikaci:</h3>
    <p>Po vytvoření specifikace je nutné ji povolit.</p>
    <pre><code class="language-sql">ALTER DATABASE AUDIT SPECIFICATION MyDatabaseAuditSpec
WITH (STATE = ON);</code></pre>

    <h2>3. Monitorování a zobrazení auditních záznamů:</h2>
    <h3>Zobrazení auditních záznamů:</h3>
    <p>Auditní záznamy můžete zobrazit pomocí různých nástrojů, jako je SQL Server Management Studio (SSMS), nebo pomocí dotazů na cílové umístění, kde se záznamy ukládají.</p>
    <pre><code class="language-sql">SELECT * FROM fn_get_audit_file('C:\\AuditLogs\\AuditLogFile*.sqlaudit', DEFAULT, DEFAULT);</code></pre>
</article>

<div class="display-2">Videa</div>
<article>
    @await Html.PartialAsync("_YoutubeVideoPlayer", "https://www.youtube.com/embed/WvE1m5w8NO4?si=PMkbHWHhhmRd0uPM")
</article>