@model dynamic

@{
    ViewBag.Title = "Videos";
    Layout = "_Layout";
}

<h2>Nahraná videa z doby corony</h2>


<div class="background-text">
    <div class="display-5">1. Baliček</div>
    <o>
        <li><br/><a href="https://www.youtube.com/watch?v=KJxDWKqb65s&list=PL53IwK6IxYAgvL85xX4a9nInu1lZI6FtY&index=9">proměnné 1</a><br/>
            <a href="https://www.youtube.com/watch?v=VYt0Avg5bcg&list=PL53IwK6IxYAgvL85xX4a9nInu1lZI6FtY&index=10">proměnné 2</a>
        </li>
        <li><a href="https://youtu.be/VYt0Avg5bcg?si=roKKzpaV0C2tfE6a&t=4071">procedury, funkce (od 1:07:51)</a></li>
        <li><a>garbage collector</a></li>
        <li><a>řídící struktury</a></li>
        <li><a>algoritmy</a></li>
        <li><a>rekurze</a></li>
        <li><a>pole a kolekce</a></li>
        <li><a>řetězce</a></li>
        <li><a>datové struktury</a></li>
        <li><a>soubory a souborový systém</a></li>
    </o>
</div>

<div class="background-text">
    <div class="display-5">2. Baliček</div>
    <o>
        <li><a href="https://www.youtube.com/watch?v=f0eMTJ7VO7M&list=PL53IwK6IxYAgvL85xX4a9nInu1lZI6FtY&index=15">základy OOP</a></li>
        <li><a href="https://www.youtube.com/watch?v=f1FrBFQcDg0&list=PL53IwK6IxYAgvL85xX4a9nInu1lZI6FtY&index=16">dědičnost v OOP</a></li>
        <li><a href="">pokročilé prvky OOP</a></li>
        <li><a href="https://www.youtube.com/watch?v=IVrL49pXtwQ&list=PL53IwK6IxYAgvL85xX4a9nInu1lZI6FtY&index=17">UML</a></li>
        <li><a href="https://www.youtube.com/watch?v=ZtwE98nb1S4&list=PL53IwK6IxYAgvL85xX4a9nInu1lZI6FtY&index=18">regulární výrazy</a></li>
        <li><a href="https://www.youtube.com/watch?v=ZtwE98nb1S4&list=PL53IwK6IxYAgvL85xX4a9nInu1lZI6FtY&index=18">formuláře - základní práce (od 1:11:00)</a></li>
        <li><a href="https://www.youtube.com/watch?v=WawhaD6pRBY&list=PL53IwK6IxYAgvL85xX4a9nInu1lZI6FtY&index=19">formuláře - datagrid</a></li>
        <li><a href="https://www.youtube.com/watch?v=WawhaD6pRBY&list=PL53IwK6IxYAgvL85xX4a9nInu1lZI6FtY&index=19">formuláře - validace vstupních hodnot od (1:00:00)</a></li>
        <li><a href="https://www.youtube.com/watch?v=8XAj96ILa5Y&list=PL53IwK6IxYAgvL85xX4a9nInu1lZI6FtY&index=20">GDI grafika - kreslení jednoduchých objektů</a></li>
        <li><a href="https://www.youtube.com/watch?v=kKbLDqUJ3gY&list=PL53IwK6IxYAgvL85xX4a9nInu1lZI6FtY&index=21">návrhové vzory GoF 1</a></li>
        <li><a href="https://www.youtube.com/watch?v=kKbLDqUJ3gY&list=PL53IwK6IxYAgvL85xX4a9nInu1lZI6FtY&index=22">návrhové vzory GoF 2</a></li>
    </o>
</div>

@* @await Html.PartialAsync("_YoutubeVideoPlayer", "https://www.youtube.com/embed/kKbLDqUJ3gY?si=0Hn66eA6o-KJHAko")) *@
