@* 

<div class="background-text">
    <a href="~/Projects/"></a>
    <div class="text-center text-info">Obtižnost: <i class="bi bi-1-circle-fill"></i></div>
    <div class="text-center text-primary">Obtižnost: <i class="bi bi-2-circle-fill"></i></div>
    <div class="text-center text-white">Obtižnost: <i class="bi bi-3-circle-fill"></i></div>
    <div class="text-center text-warning">Obtižnost: <i class="bi bi-4-circle-fill"></i></div>
    <div class="text-center text-danger">Obtižnost: <i class="bi bi-5-circle-fill"></i></div>
</div> 

*@

<div class="background-text py-3">
    <a href="~/Projects/01-servisni-protokol.zip">01-servisni-protokol</a>
    <div >Obtižnost: <i class="text-white bi bi-3-circle-fill"></i></div>
</div> 

<div class="background-text py-3">
    <a href="~/Projects/02-sbirka-uloh.zip">02-sbirka-uloh</a>
    <div >Obtižnost: <i class="text-primary bi bi-2-circle-fill"></i></div>
</div> 

<div class="background-text py-3">
    <a href="~/Projects/03-eshop.zip">03-eshop</a>
    <div >Obtižnost: <i class="text-warning bi bi-4-circle-fill"></i></div>
</div> 

<div class="background-text py-3">
    <a href="~/Projects/04-unit-testy.zip">04-unit-testy</a>
    <div >Obtižnost: <i class="text-info bi bi-1-circle-fill"></i></div>
</div> 

<div class="background-text py-3">
    <a href="~/Projects/05-jizdni-rad.zip">05-jizdni-rad</a>
    <div >Obtižnost: <i class="text-warning bi bi-4-circle-fill"></i></div>
</div> 

<div class="background-text py-3">
    <a href="~/Projects/06-online-diskuze.zip">06-online-diskuze</a>
    <div >Obtižnost: <i class=" text-primary bi bi-2-circle-fill"></i></div>
</div> 

<div class="background-text py-3">
    <a href="~/Projects/07-graf.zip">07-graf</a>
    <div >Obtižnost: <i class=" text-white bi bi-3-circle-fill"></i></div>
</div> 

<div class="background-text py-3">
    <a href="https://datatables.net/examples/api/select_row.html">08-datatable</a>
    <div >Obtižnost: <i class=" text-primary bi bi-2-circle-fill"></i></div>
</div> 

<div class="background-text py-3">
    <a href="~/Projects/09-evidence-znamek.pdf">09-evidence-znamek</a>
    <div >Obtižnost: <i class=" text-primary bi bi-2-circle-fill"></i></div>
</div>

<div class="background-text py-3">
    <a href="~/Projects/10-realitni-server.pdf">10-realitni-server</a>
    <div >Obtižnost: <i class=" text-danger bi bi-5-circle-fill"></i></div>
</div> 

<div class="background-text py-3">
    <a href="~/Projects/11-regex-ulohy.pdf">11-regex-ulohy</a>
    <div >Obtižnost: <i class=" text-info bi bi-1-circle-fill"></i></div>
</div> 

<div class="background-text py-3">
    <a href="~/Projects/12-validace-letenky.pdf">12-validace-letenky</a>
    <div >Obtižnost: <i class=" text-info bi bi-2-circle-fill"></i></div>
</div> 