@* 

<div class="background-text">
    <a href="~/Projects/"></a>
    <div class="text-center text-info">Obtižnost: <i class="bi bi-1-circle-fill"></i></div>
    <div class="text-center text-primary">Obtižnost: <i class="bi bi-2-circle-fill"></i></div>
    <div class="text-center text-white">Obtižnost: <i class="bi bi-3-circle-fill"></i></div>
    <div class="text-center text-warning">Obtižnost: <i class="bi bi-4-circle-fill"></i></div>
    <div class="text-center text-danger">Obtižnost: <i class="bi bi-5-circle-fill"></i></div>
</div> 

*@
