@{
    Layout = "_Layout"; // Nechat jak je

    ViewBag.Title = "Databaze";
    ViewBag.Author = "Jakub Boháček";

}

<div class="display-1">
    Databaze
</div>

<div class="background-text">
    Musime používat mysql
    
    následne je potřeba použít context
    
    návod najdeme v "U:\Sibrava\4.rocnik\pomocne-tridy\entity-framework\stare--core\how-to-install.docx"
    
    [collumn("Osoba_id")]
    public int id
    
    
    

</div>