@model Object

@{
    ViewBag.Title = "Datové typy a velikosti";
    Layout = "_Layout";
    ViewBag.Author = "Jakub Boháček";
}

<div class="display-1">
    Datové typy <br/> a jejich velikosti
</div>

