@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model dynamic

@{
    ViewBag.Title = "Domovní stránka";
    Layout = "_Layout";
}

<h2 class="display-1 mb-4">Programování maturita</h2>
<div class="row gap-5">
    <div class="col-md-6  h-100">
        <div class="background-text">
            Tento web slouží jako zápisky a přípava na maturitu z programování na <a href="https://www.sssvt.cz/">soukromé střední škole výpočetní techniky</a> a jsou zde zapsané okruhy na ústní maturitní zkoušku a jejich vysvětlení.<br/>
            Web byl vytvořený, protože jsem si chtěl všechny informace zapsat a mít je na jednom místě, kde se k nim mohu kdykoliv vrátit. Tím pádem jsem se rozhodl, že je zveřejním, protože by se mohli hodit i někomu jinému. <br/> <br/>
            Web vytvořil <b>Jakub Boháček</b> třída 4.A. ročník 23/24.
        </div>
        <div class="display-4">
            Jak mohu pomoct?
        </div>
        <div class="background-text">
            Pokud najdeš chybu neváhej a napiš na email <a href="mailto:chyby@jbohacek.cz">chyby@jbohacek.cz</a><br/><br/>
            Pokud se chceš <span>podílet na vývoji webu</span>, tak neváhejte a přidejte více informací přes <a href="https://github.com/Jbohacek/MaturitaHelpWeb">Github</a>! <br /><br />
            Pokud netušíš jak github funguje a chceš pomoct, napiš na email <a href="mailto:admin@jbohacek.cz">admin@jbohacek.cz</a> a my ti rádi pomůžeme.<br/> <span class="sha">Fakt to není težké, je to jen HTML :)</span>
        </div>
        <div class="display-4">
            Poslední změny
        </div>
        
        
        <div style="overflow: auto; height: 400px;">
            
            <div class="background-text">
                <span>25.3</span> - Database
                <div class="text-end sha">Jakub Boháček</div>
            </div>
            
            <div class="background-text">
                <span>16.3</span> - Všechny otázky z 2 baličku
                <div class="text-end sha">Jakub Boháček</div>
            </div>

            <div class="background-text">
                <span>7.3</span> - Gui
                <div class="text-end sha">Jakub Boháček</div>
            </div>
            
            <div class="background-text">
                <span>6.3</span> - Validation
                <div class="text-end sha">Jakub Boháček</div>
            </div>
            
            <div class="background-text">
                <span>5.3</span> - Forms advance
                <div class="text-end sha">Jakub Boháček</div>
            </div>

            <div class="background-text">
                <span>29.2</span> - Regex
                <div class="text-end sha">Jakub Boháček</div>
            </div>

            <div class="background-text">
                <span>27.2</span> - Pokročilé prvky OOP<br />a rozpracovany forms základy a datagrid
                <div class="text-end sha">Jakub Boháček</div>
            </div>
            
            <div class="background-text">
                <span>23.2</span> - UML<br />
                <div class="text-end sha">Jakub Boháček</div>
            </div>

            <div class="background-text">
                <span>22.2</span> - Dědičnost OOP<br />
                <div class="text-end sha">Jakub Boháček</div>
            </div>
            
            <div class="background-text"> 
                <span>21.2</span> - Základy OOP<br />
                <div class="text-end sha">Jakub Boháček</div>
            </div>

            <div class="background-text">
                <span>19.2</span> - Opravena šiřka youtube videií na mobilní zobrazení<br/> <span class="sha">PS: už mě s tím neštvi :)</span><br />
                <div class="text-end sha">NAX</div>
            </div>
            

            <div class="background-text">
                <span>18.2</span> - Opravena gramtika "ř" a "zjistit"<br/>
                <div class="text-end sha">Mace</div>
            </div>

            <div class="background-text">
                <span>15.2</span> - Řetěžce, Souborový system, Datove struktury<br/>
                <div class="text-end sha">Jakub Boháček</div>
            </div>

            <div class="background-text">
                <span>13.2</span> - Rekurze, Pole a kolekce<br/>
                <div class="text-end sha">Jakub Boháček</div>
            </div>
            <div class="background-text">
                <span>9.2</span> - Garbage collector, Řídící struktury, přepsané modifikátory přístupu a změna Home page<br/>
                <div class="text-end sha">Jakub Boháček</div>
            </div>
        </div>
        
    </div>
    <div class="background-text col-md h-100">
        <div class="display-4 mb-3">Okruhy</div>
        <div class="ms-3">
            <div class="text-center p-3 rounded" style="background-color: #595c66">
                Otázky 25-27 <span class="link-underline">nebudou</span> vypracovaný, jelikož není dostatek času. Pomoc je vítaná
            </div>

            <div style="font-weight: 300; font-size: 26px">1. Okruh</div>
            <ol start="1">
                <li><a asp-controller="Variables" asp-action="Index">Proměnné, Datové typy</a></li>
                <li><a asp-controller="QuestionSeriesOne" asp-action="ProceduryFunkce">Procedury, Funkce</a></li>
                <li><a asp-controller="QuestionSeriesOne" asp-action="GarbageCollector">Garbage collector</a></li>
                <li><a asp-controller="QuestionSeriesOne" asp-action="RidiciStruktury">Řídící struktury</a></li>
                <li><a asp-area="Programovani" asp-controller="Algorithms" asp-action="Index">Algoritmy</a></li>
                <li><a asp-controller="QuestionSeriesOne" asp-action="Rekurze">Rekurze</a></li>
                <li><a asp-controller="QuestionSeriesOne" asp-action="PoleAKolekce">Pole a kolekce</a></li>
                <li><a asp-controller="QuestionSeriesOne" asp-action="Retezce">Řetězce</a></li>
                <li><a asp-controller="QuestionSeriesOne" asp-action="DatoveStruktury">Datové struktury</a></li>
                <li><a asp-controller="QuestionSeriesOne" asp-action="SouboryASouborovySystem">Soubory a souborový systém</a></li>
            </ol>

            <div style="font-weight: 300; font-size: 26px">2. Okruh</div>
            <ol start="11">
                <li><a asp-controller="QuestionSeriesSecond" asp-action="ZakladyOOP">Základy OOP</a></li>
                <li><a asp-controller="QuestionSeriesSecond" asp-action="DedicnostOOP">Dědičnost v OOP</a></li>
                <li><a asp-controller="QuestionSeriesSecond" asp-action="PokrocilePrvkyOOP">Pokročilé prvky OOP</a></li>
                <li><a asp-controller="QuestionSeriesSecond" asp-action="UML">UML</a></li>
                <li><a asp-controller="QuestionSeriesSecond" asp-action="Regex">Regulární výrazy (regex)</a></li>
                <li><a asp-controller="QuestionSeriesSecond" asp-action="FormBasic">Formuláře - základ</a></li>
                <li><a asp-controller="QuestionSeriesSecond" asp-action="FormAdvance">Formuláře - DataGrid</a></li>
                <li><a asp-controller="QuestionSeriesSecond" asp-action="FormValidation">Formuláře - Data validation</a></li>
                <li><a asp-controller="QuestionSeriesSecond" asp-action="GUIGrafika">GDI grafika</a></li>
                <li><a asp-area="Programovani" asp-controller="Gof" asp-action="Index">Návrhové vzory GoF</a></li>
            </ol>
            <div style="font-weight: 300; font-size: 26px">3. Okruh</div>
            <ol start="21">
                <li><a asp-controller="QuestionSeriesThird" asp-action="Databaze">Databáze</a></li>
                <li><a >Teorie testování</a></li>
                <li><a asp-controller="QuestionSeriesThird" asp-action="UnitTesty">Unit testy</a></li>
                <li><a>Integrační testy</a></li>
                <li><a>ASP.NET MVC základy</a></li>
                <li><a>ASP.NET MVC View</a></li>
                <li><a>ASP.NET MVC formuláře</a></li>
                <li><a>REST API</a></li>
                <li><a>Události a delegáty</a></li>
                <li><a>Reflexe</a></li>
            </ol>
        </div>
        
    </div>

</div>